In [ ]:
#This document serves to be sort of a referrence demo to show and catalog all the python I've used so far
#Includes Loops, Functions, (Python: Coding Challenges is a repeat of these)

In [1]:
#Break example, stops loop when condition met

numbers = [0, 254, 2, -1, 3]

for num in numbers:
  if (num < 0):
    print("Negative number detected!")
    break
  print(num)
  
# 0
# 254
# 2
# Negative number detected!

0
254
2
Negative number detected!

In [2]:
# List comprehension for the squares of all even numbers between 0 and 9
result = [x**2 for x in range(10) if x % 2 == 0]

print(result)
# [0, 4, 16, 36, 64]

[0, 4, 16, 36, 64]

In [4]:
#for <temporary variable> in <list variable>:
#  <action statement>
#  <action statement>
 
#each num in nums will be printed below
nums = [1,2,3,4,5]
for num in nums: 
  print(num)

1
2
3
4
5

In [5]:
big_number_list = [1, 2, -1, 4, -5, 5, 2, -9]

# Print only positive numbers:
for i in big_number_list:
  if i < 0:
    continue
  print(i)

1
2
4
5
2

In [6]:
# Print the numbers 0, 1, 2:
for i in range(3):
  print(i)

# Print "WARNING" 3 times:
for i in range(3):
  print("WARNING")

0
1
2
WARNING
WARNING
WARNING

In [8]:
#While loops examples

# This loop will only run 1 time
hungry = True
while hungry:
  print("Time to eat!")
  hungry = False

# This loop will run 5 times
i = 1
while i < 6:
  print(i)
  i = i + 1

Time to eat!
1
2
3
4
5

In [9]:
#Nested loop example

groups = [["Jobs", "Gates"], ["Newton", "Euclid"], ["Einstein", "Feynman"]]

# This outer loop will iterate over each list in the groups list
for group in groups:
  # This inner loop will go through each name in each list
  for name in group:
    print(name)

Jobs
Gates
Newton
Euclid
Einstein
Feynman

In [10]:
#Functions

#Lambda Functions
#A lambda function in Python is a simple, anonymous function that is 
# defined without a name. Lambda functions are useful when we want to 
# write a quick function in one line that can be combined with other 
# built-in functions such as map(), filter(), and apply(). This is the 
# syntax to define lambda functions:

# lambda argument(s): expression

In [14]:
#parameters example, IE character, setting, special_skill:

def write_a_book(character, setting, special_skill):
  print(character + " is in " + 
        setting + " practicing her " + 
        special_skill)

In [16]:
#Multiple parameters example:

def ready_for_school(backpack, pencil_case):
  if (backpack == 'full' and pencil_case == 'full'):
    print ("I'm ready for school!")

In [17]:
#Function example:

# Define a function my_function() with parameter x

def my_function(x):
  return x + 1

# Invoke the function

print(my_function(2))      # Output: 3
print(my_function(3 + 5))  # Output: 9

3
9

In [19]:
#Function indentation example:

# Indentation is used to identify code blocks

def testfunction(number):
  # This code is part of testfunction
  print("Inside the testfunction")
  sum = 0
  for x in range(number):
    # More indentation because 'for' has a code block
    # but still part of he function
    sum += x
  return sum
print("This is not part of testfunction")

This is not part of testfunction

In [ ]:
#Calling Functions
#Python uses simple syntax to use, invoke, or call a preexisting function. 
#A function can be called by writing the name of it, followed by parentheses.

#For example, the code provided would call the doHomework() method.

#doHomework()

In [21]:
#Function Argument example:
#Arguments are the actual values of the parameters. In this example, they would
#be "The Farmer’s Market", "toothpaste", "$1"


def sales(grocery_store, item_on_sale, cost):
  print(grocery_store + " is selling " + item_on_sale + " for " + cost) 

sales("The Farmer’s Market", "toothpaste", "$1")

The Farmer’s Market is selling toothpaste for $1

In [24]:
#Function Keyword Arguments

def findvolume(length=1, width=1, depth=1):
  print("Length = " + str(length))
  print("Width = " + str(width))
  print("Depth = " + str(depth))
  return length * width * depth;

print(findvolume(1, 2, 3))
print(findvolume(length=5, depth=2, width=4))
print(findvolume(2, depth=3, width=4))

Length = 1
Width = 2
Depth = 3
6
Length = 5
Width = 4
Depth = 2
40
Length = 2
Width = 4
Depth = 3
24

In [32]:
def square_point(x, y, z):
  x_squared = x * x
  y_squared = y * y
  z_squared = z * z
  # Return all three values:
  return x_squared, y_squared, z_squared

three_squared, four_squared, five_squared = square_point(3, 4, 5)
#the above line initializes and assigns these variables to the results of running this function

print(three_squared)
print(four_squared)
print(five_squared)

9
16
25

In [33]:
#scope example:

a = 5

def f1():
  a = 2
  print(a)
  
print(a)   # Will print 5
f1()       # Will print 2

5
2

In [35]:
#Returning Value from Function example:

def check_leap_year(year): 
  if year % 4 == 0:
    return str(year) + " is a leap year."
  else:
    return str(year) + " is not a leap year."

year_to_check = 2018
returned_value = check_leap_year(year_to_check)
print(returned_value) # 2018 is not a leap year.

2018 is not a leap year.

In [36]:
#global variables example:

a = "Hello"

def prints_a():
  print(a)
  
# will print "Hello"
prints_a()

Hello

In [39]:
#Parameters as Local Variables examples:

def my_function(value):
  print(value)   
  
# Pass the value 7 into the function
my_function(7) 

# Causes an error as `value` no longer exists
# print(value) commented to not break code

7