In [44]:
#This document serves to be sort of a referrence demo to show and catalog all the python I've used so far
#Includes Hello World, Control Flow, & Lists

#Hello World Cheatsheet examples

#This is a comment

# % for modulus, ** for exponents

result = 52 % 5
other_result = 5 ** 2
print ("This is the result: " + str(result))
print("This is the other result: " + str(other_result))

This is the result: 2
This is the other result: 25

In [45]:
# += and -= increment/decremenet

start = 0
print("This is start: " + str(start))
start += 10
print("This is it incremented with += 10: " + str(start))

This is start: 0
This is it incremented with += 10: 10

In [46]:
#variables are typically named as a single word or multiple with underscores seperating words

example = "Example"

this_is_another_example = "This is another Example"

print (example)
print(this_is_another_example)

Example
This is another Example

In [47]:
#strings can be made with either '' or "" and can be broken with \ over multiple lines

this = 'This is an example \
of a string over multiple lines'
print(this)

This is an example of a string over multiple lines

In [48]:
#variables are typically named as a single word or multiple with underscores seperating words

example = "Example"

this_is_another_example = "This is another Example"

print (example)
print(this_is_another_example)

#strings can be made with either '' or "" and can be broken with \ over multiple lines

this = 'This is an example \
of a string over multiple lines'
print(this)

Example
This is another Example
This is an example of a string over multiple lines

In [49]:
#floating point numbers can be shown, but be warned, they are not accurate after so many decimal points

fp = 32/42
print(fp)

#print outputs to the console, please make note that what is passed shoud be one data type, thus the earlier casts as strings: str()

0.7619047619047619

In [50]:
#Control Flow

#elif statements, take note of the indentation
pet_type = "updog" #modify this as the answer

if pet_type == "dog":
  print("You have a dog.")
elif pet_type == "cat":
  print("You have a cat.")
elif pet_type == "fish":
  # this is performed
  print("You have a fish")
else:
  print("What is " + pet_type + "?")

What is updog?

In [51]:
# or(returns true if either is true) and == (returns true ONLY if both are equal, including data type)

# != (checks to see if not true)

# <, >, <=, => (less than, greater than, less than or equal, greater than or equal)

#if (checks if conditions met, executes code if true)

#else (code used if prior if statement is found false)

#and (returns true if both statements are true)

#not (returns the opposite value, IE not false returns true)

In [52]:
#Lists

#lists are values in [] seperated by commas 

primes = [2, 3, 5, 7, 11]
print(primes)

[2, 3, 5, 7, 11]

In [53]:
#can add multiple items:
items = ['cake', 'cookie', 'bread']
total_items = items + ['biscuit', 'tart']
print(total_items)

['cake', 'cookie', 'bread', 'biscuit', 'tart']

In [54]:
#lists can be different data types and multiple data types:

numbers = [1, 2, 3, 4, 10]
names = ['Jenny', 'Sam', 'Alexis']
mixed = ['Jenny', 1, 2]
list_of_lists = [['a', 1], ['b', 2]]

In [55]:
#to add one item to a list, use .append()
orders = ['daisies', 'periwinkle']
orders.append('tulips')
print(orders)

['daisies', 'periwinkle', 'tulips']

In [56]:
#lists use zero indexing, meaning the first item is 0, second is 1...
berries = ["blueberry", "cranberry", "raspberry"]

print(berries[0])
print(berries[2])

blueberry
raspberry

In [57]:
#negative indexing references from the end of the list. -1 is the last element, -2 next to last..

#you can also put a : which basically continues the list based on the side the : is put on
#note that putting it before does not include the element selected

soups = ['minestrone', 'lentil', 'pho', 'laksa']
print(soups[-1])
print(soups[-3:])
print(soups[:-2])

laksa
['lentil', 'pho', 'laksa']
['minestrone', 'lentil']

In [58]:
# A 2D list of names and hobbies
class_name_hobbies = [["Jenny", "Breakdancing"], ["Alexus", "Photography"], ["Grace", "Soccer"]]

# The sublist of Jenny is at index 0. The hobby is at index 1 of the sublist. 
class_name_hobbies[0][1] = "Meditation"
print(class_name_hobbies)

# Output
# [["Jenny", "Meditation"], ["Alexus", "Photography"], ["Grace", "Soccer"]]

[['Jenny', 'Meditation'], ['Alexus', 'Photography'], ['Grace', 'Soccer']]

In [59]:
# 2D list of people's heights
heights = [["Noelle", 61], ["Ali", 70], ["Sam", 67]]
# Access the sublist at index 0, and then access the 1st index of that sublist. 
noelles_height = heights[0][1] 
print(noelles_height)

# Output
# 61

61

In [60]:
# Create a list
shopping_line = ["Cole", "Kip", "Chris", "Sylvana", "Chris"]
 
# Removes the first occurance of "Chris"
shopping_line.remove("Chris")
print(shopping_line)

# Output
# ["Cole", "Kip", "Sylvana", "Chris"]

['Cole', 'Kip', 'Sylvana', 'Chris']

In [61]:
my_tuple = ('abc', 123, 'def', 456, 789, 'ghi')

print(len(my_tuple)) # returns length of tuple
#print(max(my_tuple)) # returns maximum value of tuple, broken
#print(min(my_tuple)) # returns maximum value of tuple, broken
print(my_tuple.index(123)) # returns the position of the value 123
print(my_tuple.count('abc')) # returns the number of occurrences of the value 'abc'

6
1
1

In [62]:
backpack = ['pencil', 'pen', 'notebook', 'textbook', 'pen', 'highlighter', 'pen']
numPen = backpack.count('pen')

print(numPen)
# Output: 3

3

In [63]:
knapsack = [2, 4, 3, 7, 10]
size = len(knapsack)
print(size) 
# Output: 5

5

In [64]:
exampleList = [4, 2, 1, 3]
exampleList.sort()
print(exampleList)
# Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [65]:
tools = ['pen', 'hammer', 'lever']
tools_slice = tools[1:3] # ['hammer', 'lever'], note the end does not include that element, thus 3 not 2
tools_slice[0] = 'nail' #overwrites "hammer"

# Original list is unaltered:
print(tools) # ['pen', 'hammer', 'lever']
print(tools_slice)

['pen', 'hammer', 'lever']
['nail', 'lever']

In [66]:
unsortedList = [4, 2, 1, 3]
sortedList = sorted(unsortedList)
print(sortedList)
# Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [67]:
# Here is a list representing a line of people at a store
store_line = ["Karla", "Maxium", "Martim", "Isabella"]

# Here is how to insert "Vikor" after "Maxium" and before "Martim"
store_line.insert(2, "Vikor")

print(store_line) 
# Output: ['Karla', 'Maxium', 'Vikor', 'Martim', 'Isabella']

['Karla', 'Maxium', 'Vikor', 'Martim', 'Isabella']

In [68]:
cs_topics = ["Python", "Data Structures", "Balloon Making", "Algorithms", "Clowns 101"]

# Pop the last element
removed_element = cs_topics.pop()

print(cs_topics)
print(removed_element)

# Output:
# ['Python', 'Data Structures', 'Balloon Making', 'Algorithms']
# 'Clowns 101'

# Pop the element "Baloon Making"
cs_topics.pop(2)
print(cs_topics)

# Output:
# ['Python', 'Data Structures', 'Algorithms']

['Python', 'Data Structures', 'Balloon Making', 'Algorithms']
Clowns 101
['Python', 'Data Structures', 'Algorithms']